<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <button id="forward">Forward</button>
        <div class="container">
            <img src="{{ url_for('video_feed') }}">
        </div>
    </div>
    

</body>

<script src="https://cdn.socket.io/4.1.3/socket.io.min.js"></script>

<script>
    var socket = io();
    document.getElementById('forward').addEventListener('click',(e)=>{
    socket.emit('movement_command','forward')
})
</script>
</html>